*{
  text-align: center;
}
.container{
  margin-top: 100px;
}
.input_space{
  margin-bottom: 10px;
}
input{
  height: 30px;
  width: 20%;
  font-size: 18px;
}

.logout{
  margin-right: 5px;
  color: rgb(251, 0, 0);
  font-weight: 400;
}
.logout:hover{
  background-color: aquamarine;
  transition-duration: 0.5s;
}
.delete{
  margin-right: 5px;
  color: white;
  background-color: rgb(19, 103, 142);
  font-weight: 400;
}
.delete:hover{
  background-color: rgb(254, 6, 6);
  transition-duration: 0.5s;
}